@import "imports/variables.css";

h1,
h2,
h3,
h4 {
    font-family: Bebas Neue, Arial, Helvetica, sans-serif;
}

p,
a,
.cta,
.jackets-list h2,
li,
form span,
button,
label,
.jacket-spesific-page h2,
.product-details h2,
form fieldset legend {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

/*font-sizes in global*/

.about__content p,
.jackets-page p,
.jackets-list h2,
.jackets-list p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}  

.checkout-main h1,
.shopping-bag h1,
.jacket-one__text h1,
.jackets-page h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}  

.top-nav a,
.main-nav a,
.product-details h2,
.jacket-one__text p,
form fieldset legend {
    font-size: 1rem;
    line-height: 1.5rem;
}  

.jacket-one__text p,
.jacket-one-product-desription p,
.product-details__list,
.color-nav__name {
    font-size: 0.8rem;
    line-height: 1rem;
}  

form fieldset legend,
.top-nav a,
.main-nav a,
.jacket-one__text h2 {
    font-weight: 600;
} 

.top-nav a,
.main-nav a {
    text-decoration: none;
} 

.top-nav {
    background-color: var(--top-header-color);
    padding: 0.5rem 1.5rem;
    display: block;
    text-align: end;
}

.top-nav nav a {
    color:#fff;
    display: inline-block;
}

.contact-us-upper-nav {
    visibility: hidden;
    margin-right: 5rem;
}

.main-nav nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~  nav {
    display: block;
}

.main-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 1.5rem;
    color: var(--brand-color);
}

.main-nav nav {
    position: absolute;
    background: #fff;
    flex-direction: row;
    justify-content: start;
    text-align: start;
    top: 3rem;
    left: 0rem;
    right: 0rem;
    padding: 0.5rem 1.5rem;
    margin: 0rem -1.5rem;
}   


.main-nav nav a {
    color: #0A3641;
    margin-right: 1rem;
    padding: 0.5rem 0rem;
    text-align: left;
    font-size: 0.5rem;
}

.logo {
    height: 2.5rem;
    width: auto;
    margin-right: 1.8rem;
}

#current {
    text-decoration: underline;
}

body {
    margin: 0rem;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

main {
    color: #000;
}


img {
    width: 100%;
}    

footer {
    background-color:var(--brand-color);
    color: #fff;
    text-align: center;
    padding: 2.5rem 0rem;
    
}

.no-margin {
    margin: 0rem;
}

.cta {
    background-color: var(--cta-color);
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.6rem 2rem;
    border-radius: 6.25rem;
    position: relative;
    display: inline-flex;
    overflow: hidden;
}

.cta-large {
    width: 100%;
}

button {
    border: none;
}

.jacket-one__text .cta,
.checkout-page .cta,
.shopping-bag-main .cta {
    display: block;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
}

.color-one {
    color: #000;
} 

.color-two {
    color:#C10A05;
} 

.color-three {
    color: #202597;
} 

.color-four {
    color: #417A26;
} 

.product-details {
    margin: 1rem auto;
    max-width: 40rem;
    min-width: 20rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.product-details > * {
    flex: 1;
    padding-top: 2rem;
}

.product-details ul {
    padding:0rem;
}

.product-details li {
    display: flex;
}

.product-details__list {
    display: flex;
    flex-direction: row;
}

.product-details__list > ul {
    flex: 1;
}

.bold {
    font-weight: 700;
    margin-top: 1rem;
}

.jacket-one__backround {
    background-color: var(--background-product-color);
    padding: 1rem;
}





