:root {
    --top-header-color: #666B00;
    --brand-color: #0A3641;
    --cta-color: #C10A00;
    --background-product-color: #EDE9E9;
    --background-form-color: #F8FFFF;
    --border-form-color: #898585;
}